$std-color:#263238;
* {
  font-family:'Roboto', 'sans-serif';
  color: $std-color;
}

.home{
  display:flex;
  justify-content: center;
}

.banner{
  width: 60%;
  height:60%;
  padding: 10px;
  margin: 10px;
}

.groups-button{
  display:flex;
  justify-content: center;
}

.add-name-button{
  display:flex;
  justify-content: center;
}

.paper-group{
  width: 200px;
  margin: 5px;
  padding: 10px;
}

.groups{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.employee-list{
  justify-content: center; 
  flex-direction: column;
  text-align: center
}

.name{
  flex: 1 0 25%;
  box-sizing: border-box;
  padding: 10px;
}

h2 {
  display:flex;
  justify-content: center;
}

.groups-container h6 {
  display:flex;
  justify-content: center;
}

.reset-button{
  display:flex;
  justify-content: center;
  padding-bottom: 20px;
}
