.home{
  display:flex;
  justify-content: center;
}

.banner{
  width: 60%;
  height:60%;
  padding: 0px;
  margin: 0px;
}

.groups-button{
  display:flex;
  justify-content: center;
}

.add-name-button{
  display:flex;
  justify-content: center;
}